@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);

body {font-size: 16px}
h1 {font-size: 48px}
h2 {font-size: 36px}
h3 {font-size: 28px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 14px}
@media (max-width:940px) {
    body {font-size: 15px}
    h1 {font-size: 40px}
    h2 {font-size: 30px}
    h3 {font-size: 24px}
    h4 {font-size: 18px}
    h5 {font-size: 16px}
    h6 {font-size: 14px}
    aside {display: none}
}

@media (max-width:560px) {
    body{font-size: 14px}
    h5 {font-size: 14px}
    h1 {font-size: 36px}
    h2 {font-size: 20px}
    h3 {font-size: 18px}
    h4 {font-size: 16px}
    h6 {font-size: 13px}
    .hidden-sm {display: none !important}
}

aside,
nav {
    background-color: #fff
}
.main,
.title {
    text-align: center
}

.title h1 {
	font-size:20px;
}

.nav-menu li,
.selected-item,
.title h2 {
    font-weight: 600
}
.review_body,
aside li>a div {
    overflow: hidden
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    word-break: keep-all
}
.review_body>p,
ul {
    list-style: none
}
a {
    text-decoration: none;
    color: inherit
}

img {
    max-width: 100%
}

.tcp {
    color: #8e00ff
}

.tcgold {
    color: #ffc200
}

.tcg {
    color: #26ae43
}

.tcb {
    color: #375fcd
}

.tbb,
.tbg,
.tbk,
.tbr,
.tbs {
    color: #fff
}

.tbr {background-color: #f06100}
.tbg {background-color: #26ae43}
.tbb {background-color: #375fcd}
.tbs {background-color: #159ee4}
.tbk {background-color: #030514}
.bgb {background-color: #ffdde5}
.bgr {background-color: #ffeddd}
.bgy {background-color: #ffd}
.bgg {background-color: #e5ffdd}
.bgp {background-color: #e5ddff}
.bgc {background-color: #ddfff6}
.k_blue {
    color: #159ee4
}
aside li>a:hover {background-color: #375fcd}

.review_name{
    font-size: 20px
}

@media (max-width:380px) {
    .hidden-xs {
        display: none !important
    }
}

.nav-menu li a span,
.title span,
span {
    display: inline-block
}

aside {
    position: fixed;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1000;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2)
}
.container,
aside li,
section {
    position: relative
}

aside li>a {
    display: flex;
    align-items: center;
    color: #030514;
    padding: 10px
}

aside li span {
    font-size: 30px
}

aside li>a div {
    max-width: 0;
    transition: .3s;
    display:flex;
}

aside:hover li>a div {
    max-width: 500px;
    padding: 0 5px
}

aside li>a:hover {
    color: #fff
}

aside li:first-child>a {
    border-radius: 8px 8px 0 0
}

aside li:last-child>a {
    border-radius: 0 0 8px 8px
}

aside li:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .2)
}
footer .container {
    display:flex ;
}
footer .container img{
    width: 80% ;
}
footer address {
    margin-left:auto;
    line-height:40px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    z-index: 1
}

.headertop {
    max-width: 1200px;
    margin: auto
}

.nocontainer {
    padding-top: 30px;
    padding-bottom: 30px
}

section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden
}

.col2{display: flex;}
.col2>*{width: 50%; flex-shrink: 0;}
.aspect-ratio{position: relative; width: 100%;}
.aspect-ratio>*{position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;}
.youtuberatio{position: relative; width: 100%; padding-bottom: 56.25%;}
.youtuberatio>iframe{position: absolute; left: -2px; right: -2px; top: -2px; bottom: -2px; width: calc(100% + 4px); height: calc(100% + 4px);}
.youtube{max-width: 820px; margin: auto;}
.youtube .youtuberatio{border: 1px solid rgba(0, 0, 0, .1); border-radius: 8px; overflow: hidden; box-shadow: 0 8px 16px rgba(0, 0, 0, .1); transition: .4s ease-in-out;}
.youtube .youtuberatio:hover{box-shadow: 0 8px 16px rgba(0, 0, 0, .2);}

.ratioImg {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px)
}


nav .logo {
    display: inline-block;
    position: relative
}

nav .logo img {
    transition: .3s ease-in-out;
    width:100%;
}

nav .logo:hover img {
    transform: translateY(-5px);
}

.nav-menu li a,
.selected-item {
    align-items: center;
    display: flex
}
.select-box{font-size: 14px;}
/* card */
.card{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: .5s cubic-bezier(.23, 1, .32, 2)
}
.card:before {
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(255, 255, 255, .1));
    transition: transform .5s cubic-bezier(.23, 1, .32, 1);
    position: absolute;
    top: 0
}
.card-content {
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    /*height: 100%;*/
    padding: 20px;
    color: inherit;
    font-size: 14px;
    opacity: .8
}


.card-para {
    color: inherit;
    font-size: 14px;
    opacity: .8
}
.card strong{
    color: #375fcd;
    font-size: 1.1em
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.card:before {
    left: 0
}

.card:hover:before {
    transform: translateX(-100%)
}

.card:hover:after {
    transform: translateX(100%)
}
/* card */



.slick-slide {
    cursor: move
}

.hamburger,
.selected-item {
    cursor: pointer
}

.slick-arrow {
    z-index: 500
}

/* btn */
.btn {
    position: relative;
    display: inline-flex; justify-content: center; align-items: center;
    color: #fff; letter-spacing: 0; text-transform: uppercase;
    font-size: 18px; font-weight: 600;
    width: 100%; min-width: 120px; min-height: 50px;
    background: 0 0;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    transition: .2s ease-in
}
.btn:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out
}
.btn::before {content: ''; opacity: 0;
    display: block; width: 0; height: 86%;
    position: absolute; top: 7%; left: 0;
    background: #fff;
    box-shadow: 0 0 40px 10px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg)
}
.btn:hover::before {
    -webkit-animation: .5s linear sh02;
    -moz-animation: .5s linear sh02;
    animation: .5s linear sh02
}
/* btn */

.topper,
.topper::after {
    height: 127px;
    width: 100%
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
        left: 100%
    }
}

.btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow .2s ease-in;
    -moz-transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in
}

.topper {
    position: relative;
    z-index: 1000
}

.topper::after {
    content: '';
    position: fixed;
    background-image: url(../img/top.png);
    background-size: cover;
    background-position: center
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
}

nav .logo {
    z-index: 10;
    max-width: 300px
}

.headertop {
    width: 100%
}

.headernav {
    width: 100%;
    color: #383939;
    max-width: 1200px;
    margin: auto
}


.nav-menu {
    color: #414b57
}

.nav-menu li {
    position: relative
}

.nav-menu li .homebtn img {
    width: 20px
}

.hamburger input {
    display: none;
    pointer-events: none
}

.hamburger svg {
    height: 3em;
    transition: transform .6s cubic-bezier(.4, 0, .2, 1)
}

.line {
    fill: none;
    stroke: #2f3640;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray .6s cubic-bezier(.4, 0, .2, 1), stroke-dashoffset .6s cubic-bezier(.4, 0, .2, 1)
}

.review .slick-slide,
.select-options,
.select-options li a,
.selected-item,
.selected-item>span {
    transition: .3s ease-in-out
}

.line-top-bottom {
    stroke-dasharray: 12 63
}

.hamburger input:checked+svg {
    transform: rotate(-45deg)
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42
}

.selected-item {
    justify-content: space-between
}

.selected-item>span {
    margin: 2px 0 -2px
}

.select-box.active .selected-item>span {
    transform: rotate(-180deg)
}

.select-options {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 0;
    min-height: 0;
    max-height: 0;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    overflow-y: hidden
}

.select-options li a {
    display: flex;
    align-items: center
}

.select-options li a>span {
    font-size: 18px;
    margin-right: 4px
}

.select-box.active .select-options {
    height: auto;
    min-height: 100px;
    max-height: 1000px
}

@media (max-width:1200px) and (min-width:941px) {
    .headernav {
        display: flex;
        justify-content: space-between
    }
}

@media (min-width:941px) {

    .select-options,
    .selected-item {
        color: #fff;
        background-color: #2f3640
    }

    header {
        height: 145px
    }

    .headertop {
        margin: 20px auto 0
    }

    nav .logo {
        padding-left: 10px
    }

    .nav-menu {
        float: left;
        display: flex;
        align-items: center;
        height: 80px
    }

    .mbonlynav,
    .nav-menu li a span,
    .nav-toggle {
        display: none
    }

    .nav-menu li {
        padding: 0 10px
    }

    .nav-menu li a {
        position: relative;
        padding: 10px 0;
        transition: .3s ease-in-out
    }

    .select-options li a,
    .selected-item {
        padding: 10px 10px 10px 15px
    }

    .nav-menu li a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #2f3640;
        transition: .3s ease-in-out
    }

    .nav-menu li a:hover::before {width: 100%}

    .select-box {
        float: right;
        position: relative;
        margin-top: 20px; margin-right: 10px;
        display: inline-block; width: 400px;
    }

    .selected-item {
        height: 40px;
        border-radius: 8px
    }

    .select-options li a:hover,
    .selected-item:hover {
        background-color: #414b57
    }

    .select-options {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
    }

    .select-box.active .select-options {
        padding: 8px 0
    }
}

@media (max-width:940px) {

    .headertop,
    .nav-toggle {
        position: relative;
        z-index: 10
    }

    .mbonlynav li a,
    .nav-menu li a,
    .select-box {
        border-bottom: 1px solid #aaa
    }

    .headertop,
    header {
        height: 80px
    }

    .nav-toggle {
        display: none;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        top: 20px;
        margin: 0 10px;
        cursor: pointer
    }

    .headernav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        position: fixed;
        right: -100%;
        width: 100%;
        max-width: 300px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        transition: .3s ease-in-out
    }

    .headernav.active {
        left: auto;
        right: 0
    }

    .nav-menu {
        display: block;
        margin: 0 10px
    }

    .nav-menu li {
        padding: 0
    }

    .nav-menu li a {
        width: 100%;
        padding: 10px 0;
        line-height: 24px
    }

    .mbonlynav {
        padding: 0 10px
    }

    .mbonlynav li a {
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 10px 0
    }

    .select-box {
        position: relative;
        margin: 30px 10px 0;
        text-align: left
    }

    .select-options {
        position: relative;
        top: 0
    }

    .select-options>li{border-top: 1px solid #ddd;}
    .select-options li a{padding: 8px 0;}
    .selected-item {
        padding: 10px 0;
        line-height: 25px
    }

    .select-box.active .selected-item {
        color: #375fcd
    }
}
@media (max-width:940px) and (min-width:461px) {
    nav .logo {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

@media (max-width:460px) {
    nav .logo {
        top: 50%;
        width: 200px;
        transform: translateY(-50%);
        margin-left: 10px
    }
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 560px;
    padding: 4px 12px;
    background-color: #eee
}

.main h1 {padding: 10px}
.main li {padding: 1px}
.main li a {display: block; padding: 8px; border: 1px solid #aaa}
.main li:hover a {background-color: #888}

.title {padding-top: 30px; padding-bottom: 30px;}
.title h2 {margin: 20px auto;padding: 0 10px}
.title h3 {font-weight: 500; margin: 20px auto;padding: 0 10px}

.title p {
    max-width: 800px;
    color: #f06100; font-weight: 400;
    margin: 10px auto; padding: 0 10px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .4);
}

@media (max-width:900px) {
    .container {
        padding: 10px
    }

    .nocontainer {
        padding-top: 10px;
        padding-bottom: 10px
    }

    section {
        padding-top: 30px;
        padding-bottom: 30px
    }

    .title {
        padding-top: 20px;
        padding-bottom: 20px;
    } 
}

.review{background-color: #fafafa;}
.review .title {
    color: #030514
}

.review .slick-slide {
    padding: 10px
}

.review .slick-slide:hover {
    transform: scale(1.05)
}

.review .slick-slide .card {
    height: 100%;
    max-height: 350px;
    color: #030514;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: rgba(0, 0, 0, .1) 0 2px 8px 0;
    padding: 20px
}

.review .slick-slide .card:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 8px 0
}

.review_body {
    height: 148px;
    line-height: 1.5;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
}

.review_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd
}

.review_name {
    font-weight: 700;
    padding-right: 20px
}

.starlevel {
    position: relative;
    display: inline-block;
}
.starlevel>div {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}
.starlevel span {
    position: relative;
    display: inline-block;
    color: #ccc;
    text-shadow: 0 2px 8px rgba(0, 0, 0, .2)
}

.starlevel span.fulstar{color: #ffc200}
.starlevel span.halfstar:before {
    content: '\2605';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 10px;
    color: #ffc200;
    overflow: hidden;
    text-shadow: none
}
.review .starlevel{font-size: 20px;}
.review ul li>div:hover .starlevel span {
    text-shadow: 0 2px 8px rgba(0, 0, 0, .4)
}

.hookrobot {
    background-color: #f06100
}

#svgdriving .cls-1,
#svgfarm .cls-1,
#svgprinter .cls-1,
#svgrobot .cls-1 {
    fill: #fff;
    stroke-width: 0
}

.hookprinter {
    background-color: #159ee4
}

.hookfarm {
    background-color: #26ae43
}

.hookdriving {
    background-color: #375fcd
}




.countdown_container{padding: 20px 10px; text-align: center;}

.countdown_container > p{color: #fff; text-align: center; margin-bottom: 5px;}

#countdown{
	display: inline-flex; flex-wrap: wrap; justify-content: center;
    color: #fff;
    padding: 12px 8px; border-radius: 8px;
}
#countdown>p{width: 100%; padding-bottom: 10px;}
#countdown > div{
    display: inline-flex; flex-direction: column; justify-content: center; align-items: center;
    margin-left: 2px; margin-right: 2px;
    padding-top: 10px;
    border-radius: 8px;
    background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
    box-shadow: inset 1px 1px 3px #eee, inset -1px -1px 3px #67e0ff;
}
/*#countdown span{display: block}*/
#countdown .number{
    width: 70px;
    font-size: 30px; font-family: 'LabDegital'; font-weight: bold;
}

#countdown .label{
    font-size: 12px; text-transform: uppercase; letter-spacing: -.5px;
    margin-top: -3px; margin-bottom: 5px
}

    footer .container {
        display: block;
        padding:20px 0;
    }
    footer .logo {
        text-align: center;
    }
    footer .container img {
        max-width: 160px;
    }
    footer address {
        text-align: center;
        line-height: 15px;
    }
